# Environments
.DS_Store
.vscode/
.idea/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pkl
.pytest_cache/

# Simulation outputs
sim_output/
*.csv

# Checkpoints and Plots
.ipynb_checkpoints/
*.png
*.svg
*.pdf
files/*.pdf
files/*.html